ion-card-title {
  font-size: 1.2rem;
  font-weight: 600;

}

ion-text p {
  font-size: 1rem;
  color: #888;
}
ion-button{
    margin: 10px;
}

ion-searchbar {
    margin: 10px;
}
ion-card {
    margin: 12px;
    border-radius: 16px;
    overflow:hidden;
}

img{
    width:100%;
    height: 200px;
    object-fit: cover;
}
ion-card-title {
    font-size: 1.2rem;
    font-weight:600;
}
ion-card-content {
  text-align: center;
  padding: 12px;
}

.recipe-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 8px 0 10px 0;
  color: #222;
}
ion-button {
  margin-top: 8px;
}

