<ion-header>
  <ion-toolbar>
    <ion-title>Favourites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let recipe of favourites" [routerLink] = "['/recipe', recipe.idMeal]" button>
    <img [src]="recipe.strMealThumb" />
  <ion-card-content>

    <h2 class="recipe-title">
      {{ recipe.strMeal }}
    </h2>

    <ion-button 
      color="danger" 
      expand="block"
      (click)="removeFavourite(recipe.idMeal); $event.stopPropagation()">
      Remove
    </ion-button>

  </ion-card-content>

</ion-card>

  <ion-text *ngIf="favourites.length === 0">
    <p style="text-align:center; margin-top:20px;">No favourites yet</p>
  </ion-text>

</ion-content>