<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">
      <strong>{{ recipe?.strMeal }}</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="recipe">

  <!-- IMAGE -->
  <img [src]="recipe.strMealThumb" class="recipe-image"/>

  <!-- CENTERED BUTTON -->
  <div class="button-container">
    <ion-button (click)="addToFavourites()">
      ❤️ Add to Favourites
    </ion-button>
  </div>

  <!-- INFO CARD -->
  <ion-card>
    <ion-card-content>
      <p><strong>Category:</strong> {{ recipe.strCategory }}</p>
      <p><strong>Area:</strong> {{ recipe.strArea }}</p>
    </ion-card-content>
  </ion-card>

  <!-- INSTRUCTIONS CARD -->
  <ion-card>
    <ion-card-header>
      <ion-card-title class="instructions-title">
        🧑‍🍳 Instructions
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p class="instructions">
        {{ recipe.strInstructions }}
      </p>
    </ion-card-content>
  </ion-card>

  <!-- FOOTER TEXT -->
  <ion-text>
    <p style="text-align:center; margin:20px;">
      Access favourites from the home page
    </p>
  </ion-text>

</ion-content>