<ion-header>
  <ion-toolbar>
    <ion-title>Recipe App</ion-title>
  </ion-toolbar>
</ion-header>
<ion-button expand = "block" routerLink="/favourites">
Go to favourites
</ion-button>
<ion-content>
<ion-searchbar 
  (ionInput)="filterRecipes($event)">
</ion-searchbar>
  <ion-card *ngFor="let recipe of filteredRecipes">
    
    <img [src]="recipe.strMealThumb" />

    <ion-card-header>
      <ion-card-title>{{ recipe.strMeal }}</ion-card-title>
    </ion-card-header>

    <ion-button expand="block" (click)="goToRecipe(recipe.idMeal)">
      View Recipe
    </ion-button>

  </ion-card>

</ion-content>